#a{
    background-color: aqua;
}
#b{
    background-color: blueviolet;
}
#c{
    background-color: crimson;
}
#d{
    background-color: cadetblue;
    
}
#e{
    background-color: yellow;

}
#f{
    background-color: violet;

}
#g{
    background-color: tomato;
}
#h{
    background-color: teal;
}
#i{
    background-color: chocolate;
}